* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background-image: url('/assets/background.jpg'); /* Changed the path */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.roster {
  flex-grow: 1;
  max-width: 800px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  border-radius: 10px;
}

.player {
  background-color: hsl(0, 0%, 10%);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.player:hover {
  transform: translateY(-5px);
}

.rank {
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}

.player.owner:hover .rank {
    color: #f13a0c;
}

.player.manager:hover .rank {
    color: #374ffc;
}

.player.sr-admin:hover .rank {
    color: #770101;
}

.player.admin:hover .rank {
    color: #ff6dd9;
}

.player.sr-mod:hover .rank {
    color: #ff005a;
}

.player.mod:hover .rank {
    color: #0af7d0;
}

.player.helper:hover .rank {
    color: #fff200;
}

.name {
    font-size: 18px;
    color: #ffffff;
}

.owner {
    border: 2px solid #f13a0c;
}

.manager {
    border: 2px solid #374ffc;
}

.sr-admin {
    border: 2px solid #770101;
}

.admin {
    border: 2px solid #ff6dd9;
}

.sr-mod {
    border: 2px solid #ff005a;
}

.mod {
    border: 2px solid #0af7d0;
}

.helper {
    border: 2px solid #fff200;
}

  body::-webkit-scrollbar {
    width: 0.5em;
    background-color: #F5F5F5;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #000000;
  }

  header {
    overflow: auto;
  }

  nav {
    background: hsl(0, 0%, 10%);
  }

  .navbar-brand {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 50px;
    margin-right: 10px;
  }

  .logo-text {
    font-size: 20px;
    font-weight: bold;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    align-items: center;
    width: min(1800px, calc(100% - 50px));
    margin-inline: auto;
    padding: 10px;
  }

  .navbar a {
    color: inherit;
    text-decoration: none;
  }

  .navbar ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .navbar ul li {
    list-style: none;
  }

  .navbar ul li a {
    display: block;
    padding: 10px 14px;
    position: relative;
    color: #FFF;
  }

  .navbar ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: transparent;
    transition: width 0.3s ease;
  }

  .navbar ul li a:hover::after {
    width: 100%;
    background-color: hsl(191, 100%, 50%);
  }

  .navbar ul.show {
    display: flex;
    flex-direction: column;
  }

  .navbar li {
    text-align: center;
    margin-top: 10px;
  }

  .navbar-toggler {
    display: none;
  }

  .content {
    background-image: url('/assets/background.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

  section {
    background: hsl(0, 0%, 75%);
    padding: 20px;
    border-radius: 15px;
  }

  footer {
    text-align: center;
    padding: 10px;
    background-color: hsl(0, 0%, 10%);
    color: #fff;
    margin-top: auto; /* Push footer to the bottom */
  }

.footer-button {
  display: inline-block;
  background-color: cyan;
  color: hsl(0, 0%, 10%);
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

  .footer-button:hover {
    background-color: #00BFFF;
  }

  @media only screen and (max-width: 768px) {
    .navbar ul {
      display: none;
    }

    .navbar ul.show {
      display: flex;
      flex-direction: column;
    }

    .navbar li {
      text-align: center;
      margin-top: 10px;
    }

    .navbar-toggler {
      display: block;
      background-color: hsl(189, 48%, 56%);
      color: #fff;
      border: none;
      padding: 10px;
      cursor: pointer;
    }

    .navbar-toggler span {
      display: block;
      width: 25px;
      height: 3px;
      margin-bottom: 5px;
      background-color: #fff;
    }

    .navbar-toggler span:last-child {
      margin-bottom: 0;
    }
  }

  @keyframes fade-in-animation {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }